/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap'); */
@font-face {
	font-family: 'Raleway';
	src: url('https://fonts.googleapis.com/css2?family=Raleway');
	font-weight: 300;
}
@font-face {
	font-family: 'Raleway';
	src: url('https://fonts.googleapis.com/css2?family=Raleway');
	font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
#app {
  height: 100%;
  width: 100%;
  margin: 0;
}